@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1 class="display-4">Hello, I'm a Starter!</h1>
    <p class="lead">
        This is meant to be a template to contain what's necessary to have from building from empty solution.
    </p>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5>Integrate with DataTables.js</h5>
                <p class="card-text">
                    A simple example to show how to integrate DataTables.js into this .Net Core MVC application.
                </p>
                <a asp-area="" asp-controller="product" asp-action="index">
                    Product List
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5>Search with query parameters</h5>
                <p class="card-text">
                    Showcase how to do simple search with just query paramters and view models in .NET Core 3.1.
                </p>
                <a asp-area="" asp-controller="reservation" asp-action="index">
                    Reservation List
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5>Tag Helper asp-validation-summary</h5>
                <p class="card-text">
                    Just a demo to show how asp-validation-summary tag helper works.
                </p>
                <a asp-area="" asp-controller="product" asp-action="create">
                    Create a product
                </a>
            </div>
        </div>
    </div>
</div>